@import "miestilo.css";
@import "estilo.css";
/* comentario */

.div1{
    color:red;
}
.div2{
    color:blueviolet;
}
.div3{
    color:yellowgreen;
}
.prueba_estilo{
    color: greenyellow;
    background: brown;
}



